@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

.mynav{
    background-color: rgb(104, 31, 31);
    font-family: 'Macondo', cursive;
}

h3{
    font-family: 'Macondo', cursive;
    color: white;
}