@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Poppins:wght@100&display=swap');
.mynav{
    background-color: rgb(104, 31, 31);
    font-family: 'Macondo', cursive;
}

h3{
    font-family: 'Macondo', cursive;
    color: white;
}

.article-content{
    font-family: 'Poppins', sans-serif;

}

.myquote{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(155, 172, 226);
}

.myquote h4 {
    color: rgb(39, 39, 41);
}

.account-img {
    height: 80px;
    width: 80px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  .article-img {
    height: 90px;
    width: 90px;
    margin-right: 16px;
  }
  .myTitle{
      display: flex;
      flex-direction: column;
  }