@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Poppins:wght@100&display=swap');
.mynav{
    background-color: rgb(104, 31, 31);
    font-family: 'Macondo', cursive;
}

h3{
    font-family: 'Macondo', cursive;
    color: white;
}

.article-content{
    font-family: 'Poppins', sans-serif;

}

.myquote{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(72, 106, 218);
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }